<header class="header-container container">
   
        <div class="header-left-wrapper">
            <img class="header-logo" src="../img/logo.svg" width="44" height="40" alt="logo"/>
            <nav class="header-nav">
                <a class="header-nav-link" href="#about" name="about">About us</a>
                <a class="header-nav-link" href="#collection" name="collection">Our collection</a>
                <a class="header-nav-link" href="#order" name="order">Customer order</a>
                <a class="header-nav-link" href="#testimonials" name="testimonials">Testimonials</a>
            </nav>
        </div>
        <div class="header-right-wrapper">
            <address>
                <a class="header-tel" href="tel:380684439426">+380 (68) 443-94-26</a>
            </address>
            
            <ul class="header-socials">
                <li>
                    <a class="header-socials-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg width="44" height="44">
                            <use href="../img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="header-socials-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg width="44" height="44">
                            <use href="../img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="header-socials-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg width="44" height="44">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="modal-open-button" type="button" id="modalOpen" aria-label="modal-open-button">
                    <svg class="modal-open-icon" width="36" height="24">
                        <use  href="../img/icons.svg#icon-modal"></use>
                    </svg>
            </button>
            
       
    </div>
    
   
</header>