<section class="hero container">
    <h1 class="hero-title">Reviving the traditional <span>Ukrainain</span> artistry <br> in every stitch.</h1>
    <div class="hero-star">
        <img src="../img/Star.jpg" width="52" height="51">
        <p class="hero-text">all embroidery is made by hand</p>
    </div>
    <div class="hero-order">
        <a class="hero-order-link" href="#order">Order
            <svg class="hero-order-icon">
                <use href="../img/symbol-defs.svg#icon-arrow"></use>
            </svg>
        </a>
    </div>
    
    <picture class="hero-pic">
        <source media="(min-width: 1280px)" srcset="
                    ../img/hero-desc.jpg 1x,
                    ../img/hero-desc@2x.jpg 2x" />
        <source media="(min-width: 768px)" srcset="
                    ../img/hero-tabl.jpg 1x, 
                    ../img/hero-tabl@2x.jpg 2x" />
        <source media="(min-width: 375px)" srcset="
                    ../img/hero-mob.jpg 1x,
                    ../img/hero-mob@2x.jpg 2x" />
        <img src="../img/hero-desk.jpg" alt="girl" width="392" />
    </picture>
</section>