<div class="modal toggleModal">
   
        <div class="modal-header">
            <a class="modal-header-tel" href="tel:380684439426">+380 (68) 443-94-26</a>
            <button class="modal-close-button" id="modal-close" type="button" aria-label="modal-close-button">
                <svg class="modal-close-icon" width="18" height="18">
                    <use href="./img/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
     <div class="modal-container">
        <nav class="modal-nav">
            <a class="modal-nav-link" href="#about" name="about" target="_blank">About us</a>
            <a class="modal-nav-link" href="#collection" name="collection" target="_blank">Our collection</a>
            <a class="modal-nav-link" href="#order" name="order" target="_blank">Customer order</a>
            <a class="modal-nav-link" href="#testimonials" name="testimonials" target="_blank">Testimonials</a>
        </nav>
    </div> 
    <img class="modal-image" src="./img/elements-grey.png" alt="ornament">
</div>
