<section class="order-section section">
    <div class="background-image">
    </div>
    <div class="order-container container">
        
        <div class="order-pic-wrapper" id="order">
        <picture class="order-pic">
            <source media="(min-width: 1280px)" 
            srcset="../img/order/order-desc.jpg 1x,
            ../img/order/order-desc@2x.jpg 2x" />
            <source media="(min-width: 768px)"
            srcset="../img/order/order-tabl.jpg 1x,
            ../img/order/order-tabl@2x.jpg 2x" />
        </picture>
        </div>
        <div class="order-form-wrapper">
            <h2 class="order-title"><span>Your order </span>is our priority: Personalized approach and quality of service</h2>
            <h2 class="order-title-mob"><span>Subscribe </span>our newsletter to receive the latest news and exclusive offers every week.</h2>
            <form class="order-form" action="submit">
                <input class="order-input" placeholder="Enter your full name" type="text" name="name">
                <input class="order-input" placeholder="Enter your email" type="email" name="email">
                <textarea class="order-textarea" placeholder="Comments" type="text" name="comments"></textarea>
                <button class="order-btn" type="submit">Send</button> 
            </form>
        </div>
    </div>
</section>