<section class="your-order container section" id="order">
    <div class="your-order-pic-wrapper">
        <picture class="your-order-pic">
            <source media="(min-width: 1280px)" srcset="
            ../img/order/order-desc.jpg 1x,
            ../img/order/order-desc@2x.jpg 2x" />
            <source media="(min-width: 768px)" srcset="
            ../img/order/order-tabl.jpg 1x,
            ../img/order/order-tabl@2x.jpg 2x" />
        </picture>
    </div>
    <div class="your-order-form-wrapper">
        <h2 class="your-order-title"><span>Your order </span>is our priority: Personalized approach and quality of service</h2>
        <h2 class="your-order-title-mob"><span>Subscribe </span>our newsletter to receive the latest news and exclusive offers every week.</h2>
        <form class="your-order-form" action="submit">
            <input class="your-order-input" placeholder="Enter your full name" type="text" name="name">
            <input class="your-order-input" placeholder="Enter your email" type="email" name="email">
            <textarea class="your-order-textarea" placeholder="Comments" type="text" name="comments"></textarea>
            <button class="your-order-btn" type="submit">Send 
                <img src="../img/icons.svg#icon-arrow" alt="icon-arrow"/> 
            </button> 
        </form>
    </div>
</section>