.about {
    background-image: url("../img/about/about-elements-mob.png");
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    padding: 40px 20px;
    background-size: 459px 408px;
}

.about-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    color: var(--white); 
    margin-bottom: 40px;
    margin-top: 40px;
}

.about-text1 {
    margin-bottom: 20px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.about-text2 {
    margin-bottom: 50px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}   

.about-img {
    border-radius: 4px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
       screen and (min-resolution: 2dppx) and (max-width: 767px),
       screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .about {
        background-image: url("../img/about/about-elements-mob2x.png");
        background-size: 230px 408px;
    }
}


/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
    .about {
        background-image: url("../img/about/about-elements-tab-desc.png");
        padding: 50px 32px;
        background-size: 545px 484px;
    }

    .about-title { 
        font-size: 44px;
        line-height: 1.45;
    }

    .about-text1,
    .about-text2 {
        font-size: 16px;
    }   
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .about {
        background-image: url('../img/about/about-elements-tab-desc2x.png');
        background-size: 545px 484px;
    }
}


/* Styles for Desktop devices */

@media only screen and (min-width: 1280px) {
   .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: center;
        align-items: center; */
        gap: 50px;
        /* margin-left: auto;
        margin-right: auto; */
        padding: 80px 50px;
        /* padding-right: 50px; */
    }
   
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px){
.about {
        background-image: url('../img/about/about-elements-tab-desc2x.png');
    }
}
