:root {
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --hard-black: #111111;

  --font-family: "Manrope", sans-serif;
  --second-family: "DM Sans", sans-serif;
}


body {
  
  font-family: var(--font-family), var(--second-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  margin: 0;
}

span {
  color: var(--yellow);
}

/* Styles for Mobile devices */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

h2 {
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin-bottom: 40px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
  h2 {
    font-size: 44px;
    line-height: 1.32;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .container {
    min-width: 1280px;
    padding: 0 50px;
  }
}




