:root {
  --color-primary: #FCF9F9;
  --background-primary:#000000;
  --color-accent: #ECD979;
  --color-secondary:#1C2225;
  --color-elements: rgba(252, 249, 249, 0.1);
  --color-elements-modal: rgba(236, 217, 121, 0.2);
  --color-paragraph: rgba(252, 249, 249, 0.4);
}  

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  font-weight: 200;
  color: var(--color-primary);
  background-color: var(--background-primary);  
  min-width: 100vw;
  min-height: 100vh;
}
span {
  color: var(--color-accent);
}

/* Styles for Mobile devices */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

/* section{
  margin: 40px 0;
  padding: 0 20px;
} */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  /* section{
  margin:50px 0;
  padding: 0 32px;
} */
}



/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    }
  /* section{
  margin:75px 0;
  padding: 0 50px;
}   */
}




