:root {
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --hard-black: #111111;

  --font-family: "Manrope", sans-serif;
  --second-family: "DM Sans", sans-serif;
}


body {
  font-family: var(--font-family), var(--second-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
}

span {
  color: var(--yellow);
}

/* Styles for Mobile devices */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

.section{
  margin: 40px auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .section{
  margin:50px 0;
  padding: 0 32px;
}
}



/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }

  .section{
  margin:75px 0;
  padding: 0 50px;
}  
}




