/* <img class="our-collection-elements" src="../img/elements-yellow.png" width="895" height="1008"> */

.collection-container {
    margin: 40px 0;
    padding: 0 20px;
}

.collection-title {
    margin-bottom: 40px;
}

/* .our-collection-wrapper {

} */