/* Styles for Mobile devices */

.header-container {
  padding-top: 20px;
  align-items: center;
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

.header-tel {
  display: none;
}

.header-socials {
  display: none;
}

.modal-open-button {
  width: 36px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
}

.modal-open-icon {
  stroke: var(--yellow);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .header-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
  }

  .header-socials-link {
    stroke: var(--white);
  }

  .modal-open-button {
    background: transparent;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .header-left-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
  }

  .header-nav {
    display: block;
  }

  .header-nav-link {
    text-transform: uppercase;
    font-size: 14px;
  }

  .header-nav-link:not(:last-child) {
    margin-right: 25px;
  }

  .header-tel {
    display: flex;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 12px;
    padding: 14px 28px;
    background-color: transparent;
    font-size: 14px;
    font-style: normal;
  }
  .header-tel:hover {
    border: var(--yellow);
    background-color: var(--hard-black);
  }

  .header-tel:focus {
    border: var(--yellow);
    background-color: var(--hard-black);
  }
  .modal-open-button {
    display: none;
  }
}
