.hero-title {
    margin-bottom: 20px;
    font-size: 44px;
    letter-spacing: -0.03em;
    font-weight: 300;
}

.hero-star {
    display: none;
}

.hero-order {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    background-color: transparent;
    margin-bottom: 40px;
    width: 168px;
    height: 49px;
   
}

.hero-order:hover,
.hero-order:focus {
    border: var(--yellow);
    background-color: var(--black);
}

.hero-order-link {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 36px;
}

.hero-order-icon {
    fill: var(--yellow);
    margin-left: 10px;
    width: 26px;
    height: 10px;
    padding: 0;
}